/* src/App.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
  }
  
  html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
  }
  
  .section {
    padding: 0px 20px;
    margin-top: 0px; /* To avoid navbar overlap */
    text-align: center;
  }
  
  #home {
    background-color: #e2e2e2;

      background-image: url('./assets/log.jpg'); /* Replace with your image URL */
      background-size: cover;
      background-position: center;
      height: 300px;
      color: white; /* Optional: to make text readable on the background */
      padding: 50px 0; /* Optional: adjust padding as needed */
    }
  
  
  #shop {
    background-color: #f8f8f8;
  }
  
  #cart {
    background-color: #dcdcdc;
  }
  
  #about {
    background-color: #fafafa;
  }
  
  #contact {
    background-color: #e7e7e7;
  }

  .category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 15px;
    padding: 20px;
  }
  
  .category-card {
    background-color: #fff;
    padding: 15px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .category-card:hover {
    transform: translateY(-5px);
  }
  
  .category-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .category-card h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  
  
  
  
  /* Responsive for mobile */
  @media (max-width: 768px) {
    .category-grid {
      grid-template-columns: 1fr 1fr; /* 2 columns on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .category-grid {
      grid-template-columns: 1fr; /* 1 column on extra small screens */
    }
  }
  