.dashboard-container {
    display: flex;
    min-height: 100vh;
    background-color: #f5f7fa;
    padding: 20px;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f5f7fa;
}

.dashboard-content {
    margin-top: 20px;
    background-color: #f5f7fa;
}

.dashboard-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.dashboard-box {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(125, 36, 4, 0.27); /* Enhanced glowing effect */
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.dashboard-box:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 0 30px rgba(113, 42, 4, 0.84); /* Stronger glow on hover */
}

.dashboard-box.c1 {
  border-left: 4px solid #4a90e2;
}
.dashboard-box.c1 .icon-wrapper {
  color: #4a90e2;
}

.dashboard-box.c2 {
  border-left: 4px solid #50c878;
}
.dashboard-box.c2 .icon-wrapper {
  color: #50c878;
}

.dashboard-box.c3 {
  border-left: 4px solid #f39c12;
}
.dashboard-box.c3 .icon-wrapper {
  color: #f39c12;
}

.dashboard-box.c4 {
  border-left: 4px solid #9b59b6;
}
.dashboard-box.c4 .icon-wrapper {
  color: #9b59b6;
}

.dashboard-box.c5 {
  border-left: 4px solid  #e74c3c;
}
.dashboard-box.c5 .icon-wrapper {
  color: #e74c3c;
}

.dashboard-box.c6 {
  border-left: 4px solid #1abc9c;
}
.dashboard-box.c6 .icon-wrapper {
  color: #1abc9c;
}


.dashboard-box .icon-wrapper {
    margin-bottom: 10px;
    color: #666;
}



.dashboard-box .icon-wrapper svg {
    font-size: 1.5rem;
}

.dashboard-box h3 {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
}

.dashboard-box p {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
}

.dashboard-graph {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 123, 255, 0.2); /* Enhanced glowing effect */
    margin-top: 20px;
    overflow: hidden;
}

.dashboard-graph:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 0 30px rgba(0, 123, 255, 0.3); /* Stronger glow on hover */
}

.dashboard-graph h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
    font-weight: 500;
}

.dashboard-graph canvas {
    max-height: 300px; /* Adjusted for better fit */
}

.error-message {
    color: #d32f2f;
    text-align: center;
    font-size: 1.2rem;
    margin: 20px 0;
}

canvas {
    background-color: #f5f7fa;
    border-radius: 5px;
}

.chart-area {
    background-color: rgba(0, 0, 0, 0.05); /* Light fill behind the line */
}