.orders-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.orders-table th {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.orders-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.orders-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.orders-table tr:hover {
  background-color: #f8f8f8;
}

.orders-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #227b94;
  color: white;
}


/* Responsive table */

@media screen and (max-width: 600px) {
  .orders-table {
    border: 0;
  }

  .orders-table thead {
    display: none;
  }

  .orders-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .orders-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }

  .orders-table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}