.orders-page {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.order-details {
  margin-top: 20px;
}

.order-details h2 {
  margin-bottom: 10px;
}